.container{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(skyblue,#6d47d9);
    
}
.content{
    width: 90%;
    margin:80px 0;
    height: 70vh;
    border: solid 1px wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:whitesmoke;
    
}
.heading{
    margin: 20px 0;
}
.contentbox2{
    margin: 10px 0;
}
.hemail{
    font-size: 24px;
}
.contentbox3{
    margin: 10px 0;
}
.hpassword{
    font-size: 24px;
}
.contentbox4{
    margin: 20px 0;
    width: 100%;
    text-align: center;
}
.button{
    width: 60%;
    font-size: 20px;
    border: none;
    background-color: skyblue;
}
.contentbox5{
    margin: 20px 0;
}
.link{
    font-size: 16px;
    color: skyblue;
    font-weight: 600;
}
@media(min-width:768px){
    .content{
        width: 60%;
    }
    .contentbox2{
        width: 100%;
        padding-left: 190px;
    }
    .text1{
        width: 56%;
    }
    .contentbox3{
        width: 100%;
        padding-left: 190px;
    }
    .text2{
        width: 56%;
    }
}
@media(min-width:1024px){
    .contentbox2{
        padding-left: 330px;
    }
    .text1{
        width: 58%;
    }
    .text2{
        width: 58%;
    }
    .contentbox3{
        padding-left: 330px;
    }
    .cb5text{
        font-size: 20px;
    }
    .link{
        font-size: 20px;
    }
}